@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: #171717;
}

h1 {
    font-size: 4.5rem; /* 75px */
}
h2 {
    font-size: 3rem; /* 48px */
}