@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: #171717;
    margin-bottom: 328px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

h1 {
    font-family: 'Arial';
    font-size: 4.5rem; /* 75px */
}
h2 {
    font-family: 'Arial';
    font-size: 3rem; /* 48px */
}
h6 {
    text-transform: uppercase;
}

h1.heading {
    font-size: 3rem;
}
h2.subhead {
    font-size: 1.5rem;
}

section.sm {
    padding: 20px 0;
}
section.md {
    padding: 40px 0;
}
section.lg {
    padding: 80px 0;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
footer a {
    position: relative;
}
footer a::after {
    content: '';
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    opacity: 0;
    left: 0;
    bottom: 0;
    transition: 0.2s ease all;
}
.facebook-link::after {
    background-color: #3b5998;
}
.twitter-link::after {
    background-color: #1da1f2;
}
.instagram-link::after {
    background-color: #5851db;
}
.dribbble-link::after {
    background-color: #ea4c89;
}
.github-link::after {
    background-color: #6cc644;
}

footer a:hover::after {
    opacity: 1;
}